
.buttons{
    background-color: #469165;
    padding: 12px 16px;
    border-radius:5px ;
    border: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    

}
.navbar ul{
    display: flex;
    list-style: none;
    
}
.navbar ul li{
    margin-right: 25px;
}
.hero-section{
    background-image: url("./assets/hero-bg.png");
    height: 100vh;                 
    background-size: cover;        
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;

    
}
.see-button{
    padding: 12px 16px;
    border-radius: 5px;
    border: none;

}
.hero{
     width: 770px;
    margin: 0 auto; 
    
    
    
}
.hero-section .main-button{
        color:#469165; 
       border-radius: 20px; 
       padding: 10px ;
       border: none;
       font-size: 16px;
       
       
       
       
       


}
.main-button{
    display: flex;
    text-align: center;
}
.hero-section h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;


    
}
.title{
    color: #469165;
   
}


.Notes-container {
    max-width: 1140px;
    margin:0 auto;
    padding-top: 30px;

}
.Notes-container .note-heading{
    max-width:827px  ;
    text-align: center;
    margin: 0 auto;

}
.Notes-container .note-heading h1{
    font-size: 48px;
    font-weight: 700;
    
}
.Notes-container .note-heading p {
    font-size: 16px;
    font-weight: 400;
    color:#627382
;
    
}
.Notes-container .card{
    display: flex;
    
    
    gap:24px;
    padding: 24px;
   
}
.card{
    display: flex;
    justify-content: center;
    text-align: center;
}
.Notes-container .card-img img{
    width:32px;
    height:32px;
    background-color: rgba(249, 85, 85, 1);
    border-radius: 50%;
  
   
    padding: 10px;
    
    
    
}
.Notes-container .card-img{
    border-radius: 8px;
    
    padding-top: 50px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.Notes-container .card-img h3{
    font-size: 24px;
    font-weight: 600;
    
}
.Notes-container .card-img p{
    font-size:16px ;
    font-weight:400;
    color: #627382;
} 
#brain{
    max-width: 1140px;
    margin:0 auto;
    padding-top: 100px;
    
}
#brain .brain-container{
    display: flex;
    gap: 60px;
}
#brain .contant-brain h4{
    font-size: 16px;
    font-weight: 500;
    
    color:  #30B868;


}

.contant-brain{
    padding-top: 100px ;
    padding-bottom: 100px;
}
#brain .contant-brain h2{
    font-size: 48px;
    font-weight: 700;
}  
#brain .contant-brain .paragrap{
    font-size: 16px;
    font-weight:400;
    color: #627382;
}


.checkline .checklines{
    display: flex;
    align-items: center;
    gap: 10px;
}
.checkline .checklines p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
#Challange{
    max-width:1140px;
    margin:0 auto;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    padding:50px 0 50px 0 ;
}
  
#Challange .Challange-part h1 {
    font-size: 48px;
    font-weight: 700;
    text-align: center;


}
#Challange .Challange-part P{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;


}
#Challange .Challange-part  button{
    display: block;
    margin: 0 auto;
    
   
}
#footer-section{
    background-color:#001931 ;
    margin-top: 100px;
    
}
#footer-section .footer{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 100px;

}
.footer-right img {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid ;
    border-radius: 50%;

}
.footer-right hr{
    max-width: 1140px;
    margin: 0 auto;
}

.footer-right p{
    color: white;
}

.links{
    display: flex;
    gap: 10px;
}
.footer-right  .links {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    
}
#footer-section .footer-right .pinish{
    color: white;

}



    
    
    

