
.buttons{
    background-color: #469165;
    padding: 12px 16px;
    border-radius:5px ;
    border: none;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    

}
.navbar ul{
    display: flex;
    list-style: none;
    
}
.navbar ul li{
    margin-right: 25px;
}
.hero-section{
    background-image: url("./assets/hero-bg.png");
    height: 100vh;                 
    background-size: cover;        
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;

    
}
.hero{
     width: 770px;
    margin: 0 auto; 
    
    
    
}
.hero-section .main-button{
        color:#469165; 
       border-radius: 20px; 
       padding: 10px ;
       border: none;
       font-size: 16px;
       
       
       
       


}
.main-button{
    display:inline-block;
    text-align: center;
}
.hero-section h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;


    
}
.title{
    color: #469165;
   
}